Sem3/XMl/assignment_2/q-10.dtd

<!ELEMENT Student_info (Course, Student*)>
<!ELEMENT Course (subject+)>
<!ATTLIST Course
    c_id ID #REQUIRED
    name CDATA #REQUIRED>
<!ELEMENT subject EMPTY>
<!ATTLIST subject
    name (Java | XML | OS) #REQUIRED>
<!ELEMENT Student EMPTY>
<!ATTLIST Student
    which_course IDREF #REQUIRED
    name CDATA #REQUIRED
    contact_no NMTOKEN #REQUIRED>
    
<!-- Entity declaration -->
<!ENTITY % university_entity "XYZ University">

