Sem3/XMl/assignment_2/q-10.dtd

<!ELEMENT student_info (student,course,subject)>
<!ELEMENT student (name)>
<!ATTLIST student which_course IDREF #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ATTLIST student contact_no NMTOKEN #REQUIRED >
<!ELEMENT course (name)>
<!ATTLIST course c_id ID #REQUIRED>
<!ELEMENT subject (#PCDATA)>
<!ATTLIST subject name (Java|xml|OS) #REQUIRED>
<!ENTITY stud_name "John Doe">