Sem3/XMl/assignment_2/q-10.dtd

<!ELEMENT student_info ((student)+,course,subject)>
<!ELEMENT student (sname,contact_no)>
<!ATTLIST student which_course CDATA #IMPLIED>
<!ELEMENT course (cname)>
<!ATTLIST course c_id CDATA #IMPLIED>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT sname (#PCDATA)>
<!ELEMENT contact_no (#PCDATA)>
<!ELEMENT cname (#PCDATA)>

